:root {
  --color-darkest: #02010A;
  --color-deep-red: #3C0211;
  --color-red: #7A0215;
  --color-bright-red: #B80012;
  --color-orange-red: #E63900;
  --color-orange: #F36E00;
  --color-light-orange: #FAA400;
  --color-yellow: #FFC400;
}

body {
  background-color: #fff;
  color: var(--color-darkest);
  font-family: 'Helvetica Neue', sans-serif;
}

.header-area {
  background-color: var(--color-darkest);
}

.menue-item-link:hover {
  color: var(--color-yellow);
}

.hero-title {
  color: var(--color-yellow);
}

.hero-button {
  background: linear-gradient(to right, var(--color-bright-red), var(--color-orange));
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
}

.footer-area {
  background-color: var(--color-deep-red);
  color: white;
}
